##
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
nextjs-deployed/node_modules
nextjs-deployed/.pnp
nextjs-deployed/.pnp.*
nextjs-deployed/.yarn/*
nextjs-deployed/!.yarn/patches
nextjs-deployed/!.yarn/plugins
nextjs-deployed/!.yarn/releases
nextjs-deployed/!.yarn/versions

# testing
nextjs-deployed/coverage

# next.js
nextjs-deployed/.next/
nextjs-deployed/out/

# production
nextjs-deployed/build

# misc
nextjs-deployed/.DS_Store
nextjs-deployed/*.pem

# debug
nextjs-deployed/npm-debug.log*
nextjs-deployed/yarn-debug.log*
nextjs-deployed/yarn-error.log*
nextjs-deployed/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
nextjs-deployed/.env*

# vercel
nextjs-deployed/.vercel

# typescript
nextjs-deployed/*.tsbuildinfo
nextjs-deployed/next-env.d.ts




## Folders
__pycache__/
archive*/

## Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.log

## Virtual Environments
venv/
env/
ENV/
.venv/
.ENV/

## Jupyter Notebooks
.ipynb_checkpoints

## VS Code
.vscode/
*.code-workspace

## Pytest
.cache/
.pytest_cache/

## Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

## Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## Installer logs
pip-log.txt
pip-delete-this-directory.txt

## Unit test / Coverage reports
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

## PyCharm
.idea/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db